extends assets/pug/base
block  content
    body.page-owner
        main
            .header
                .wrapper
                    .logo-block
                        img.logo(src="assets/img/logo-black.png")
            .list-persons
                .wrapper
                    .title Женщины в космосе
                    ul.list
                        li.item
                            img(src="")
                            .caption ВАЛЕНТИНА ТЕРЕШКОВА
                        li.item
                            img(src="")
                            .caption СВЕТЛАНА САВИЦКАЯ
                        li.item
                            img(src="")
                            .caption ЕЛЕНА КОНДАКОВА
                        li.item
                            img(src="")
                            .caption ВАЛЕНТИНА СЕРОВА
                        li.item
                            img(src="")
                            .caption АННА КИКИНА
            .message
                .wrapper
                    p При использовании архивных документов и фотографий ссылка на РГАНТД обязательна

