extends assets/pug/base
block  content
    body.page-owner
        main.main-page
            .header
                .wrapper
                    .logo-block
                        a(href="#")
                            img.logo(src="../assets/img/logo-black.png")
            .list-persons-owner
                .wrapper
                    .title ЖЕНШИНЫ В КОСМОСЕ
                    ul.list-persons
                        li.list-persons__item
                            .list-persons-item__wrapper
                                img(src="../assets/img/person-1.jpg")
                                .caption ВАЛЕНТИНА ТЕРЕШКОВА
                        li.list-persons__item
                            .list-persons-item__wrapper
                                img(src="../assets/img/person-2.jpg")
                                .caption СВЕТЛАНА САВИЦКАЯ
                        li.list-persons__item
                            .list-persons-item__wrapper
                                img(src="../assets/img/person-3.jpg")
                                .caption ЕЛЕНА КОНДАКОВА
                        li.list-persons__item
                            .list-persons-item__wrapper
                                img(src="../assets/img/person-4.jpg")
                                .caption ВАЛЕНТИНА СЕРОВА
                        li.list-persons__item
                            .list-persons-item__wrapper
                                img(src="../assets/img/person-5.jpg")
                                .caption АННА КИКИНА
            .message
                .wrapper
                    p При использовании архивных документов и фотографий ссылка на РГАНТД обязательна

