extends assets/pug/base
block  content
    body.page-owner
        main.person2bg
            .header
                .wrapper
                    .logo-block
                        a(href="#")
                            img.logo(src="../assets/img/logo-white.png")
            .list-action-owner.wrapper
                .dropdown
                    .select
                        span Ссылки
                        i.icon
                    ul.dropdown-menu
                        li
                            a(href="https://google.com" target="_blank") БИОГРАФИЯ
                        li
                            a(href="https://google.com" target="_blank") 1-Й ПОЛЁТ
                        li
                            a(href="https://google.com" target="_blank") 2-Й ПОЛЁТ
                        li
                            a(href="https://google.com" target="_blank") 2-Й ЖЕНСКИЙ ОТРЯД КОСМОНАВТОВ 2
                ul.list-action
                    li.list-action__item
                        a(href="#") БИОГРАФИЯ
                    li.list-action__item
                        a(href="#") 1-Й ПОЛЁТ
                    li.list-action__item
                        a(href="#") 2-Й ПОЛЁТ
                    li.list-action__item
                        a(href="#") 2-Й ЖЕНСКИЙ ОТРЯД КОСМОНАВТОВ 2
            .person-info-owner.wrapper--info.wrapper
                .person-info
                    .person-info__owner
                        .person-info__image
                            img(src="../assets/img/person-detail-2.jpg")
                        .person-info__info
                            h2.name <span>Савицкая</span> <span>Светлана</span> <span>Евгеньевна</span>
                            p Лётчик-космонавт СССР<br>Дважды Герой Советского Союза<br>Первая в мире женщина, совершившая выход в открытый космос
                            .date 25 июля 1984г.
