extends assets/pug/base
block  content
    body.page-owner
        main
            .header
                .wrapper
                    .logo-block
                        img.logo(src="assets/img/logo-white.png")
            .list-action-owner.wrapper
                ul.list-action
                    li.list-action__item
                        a(href="#") БИОГРАФИЯ
                    li.list-action__item
                        a(href="#") ПОЛЁТ
            .person-info-owner.wrapper--info.wrapper
                .person-info
                    .person-info__owner
                        .person-info__image
                            img(src="./assets/person4.jpg")
                        .person-info__info
                            h2.name Серова Елена Олеговна
                            p Лётчик-космонавт Российской Федерации<br>Герой Российской Федерации<br>Первая в мире женщина, совершившая полёт<br>на Международную космическую станцию
                            .date 26 сентября 2014г.<br>12 марта 2015г.
