script(type='text/javascript' charset='UTF-8' src='../assets/js/jquery.min.js')
script(type='text/javascript' charset='UTF-8' src='../assets/js/chosen.jquery.min.js')
script(type='text/javascript' charset='UTF-8' src='../assets/js/jquery.magnific-popup.js')
script(type='text/javascript' charset='UTF-8' src='../assets/js/jquery.maskedinput.js')
script(type='text/javascript' charset='UTF-8' src='../assets/js/jquery.slick.min.js')
script(type='text/javascript' charset='UTF-8' src='../assets/js/swiper.min.js')
//script(type='text/javascript' charset='UTF-8' src='https://unpkg.com/swiper@6.0.1/swiper.cjs.js')
//script(type='text/javascript' charset='UTF-8' src='https://unpkg.com/swiper/js/swiper.min.js')
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
script(type='text/javascript' charset='UTF-8' src='../assets/js/main.js')
