.social
    .social__item.social__item--vk
        a.action(href="#")
    .social__item.social__item--youtube
        a.action(href="#")
    .social__item.social__item--telegram
        a.action(href="#")
